@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'DaysOne';
    src: url(../fonts/DaysOne-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto !important;
    padding: 0;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.section-shapka .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-shapka{
    height: 40px;
}
.section-shapka .container .txt a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s;
    font-family: 'Montserrat';
    font-weight: 600;

}
.section-shapka .container .txt a:hover{
    color: #FF0000;
    transition: .5s;
}
.section-shapka .container .txt{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.section-kiber .container h2{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 25px;
}
.section-kiber .container .one .txt p{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 25px;
}
.section-kiber .container .one{
    display: flex;
}
.section-kiber .container .one .img img{
    width: 450px;
    margin-left: 40px;
    border-radius: 10px;
}
.section-kiber .container .one .img{
    display: flex;
    align-items: center;
}
.section-kiber{
    margin-bottom: 100px;
}
.section-celi .container h2{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 25px;
}
.section-celi .container .cart h3{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 5px;
}
.section-celi .container .cart p{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 5px;
}
.section-celi .container .cart:hover{
    border: 3px, solid, #FF0000;
    border-radius: 15px;
    transition: .5s;
    background-color: rgba(253, 225, 225, 0.493);
}
.section-celi .container .cart{
    margin-bottom: 25px;
}
.section-celi{
    margin-bottom: 100px;
}
.section-vid .container .carts{
    display: flex;
}
.section-vid .container h2{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 25px;
}
.section-vid .container h4{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}
.section-vid .container .carts .txt h3{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 15px;
}
.section-vid .container .carts .txt p{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 0;
}
.section-vid .container .carts{
    margin-bottom: 25px;
}
.section-vid .container .carts .img{
    display: flex;
    align-items: center;
}
.section-vid .container .carts .img img{
    width: 400px;
    margin-left: 40px;
    border-radius: 15px;
}
.section-vid{
    margin-bottom: 100px;
}
.section-zashita .container h2{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 25px;
}
.section-zashita .container h4{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}
.section-zashita .container .txt p{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 10px;
}
.section-zashita .container .inf{
    display: flex;
}
.section-zashita .container .inf .img{
    display: flex;
    align-items: center;
}
.section-zashita .container .inf .img img{
    width: 400px;
    margin-left: 40px;
    border-radius: 15px;
}
.section-zashita .container .but button{
    width: 300px;
    height: 65px;
    color: #ffff;
    background-color: #FF0000;
    border: 4px, solid, #FF0000;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'DaysOne';
    margin-bottom: 31px;
    transition: .5s;
}
.section-zashita .container .but button:hover{
    background-color: #ffff;
    color: #FF0000;
    border: 4px, solid, #FF0000;
    transition: .5s;
}
.section-zashita .container .but{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media (max-width: 1200px) {
    .container{
        width: 992px;
    }
    
}


@media (max-width: 768px) {
    .container {
        width: 740px;
    }
    .section-shapka .container .txt a{
        font-size: 20px;
    }
    .section-kiber .container .one{
        display: flex;
        flex-direction: column;
    }
    .section-vid .container .carts{
        display: flex;
        flex-direction: column;
    }
    .section-vid .container .carts .img{
        display: flex;
        justify-content: center;
    }
    .section-kiber .container .one .img{
        display: flex;
        justify-content: center;
    }
    .section-zashita .container .inf{
        display: flex;
        flex-direction: column;
    }
    .section-zashita .container .inf .img{
        display: flex;
        justify-content: center;
    }

}
@media (max-width: 576px) {
    .container {
        width: 98%;
    }
    .section-shapka .container .txt a{
        font-size: 14px!important;
        text-align: center;
    }
    
}
@media (max-width: 420px) {
    .container{
        width: 320px;
    }
    .section-shapka .container .txt a{
        font-size: 15px;
    }
    .section-shapka .container .txt{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        
    }
    .section-shapka{
        margin-bottom: 25px;
    }
    .section-kiber .container h2{
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-kiber .container .one{
        display: flex;
        flex-direction: column;
    }
    .section-kiber .container .one .txt p{
        font-size: 14px;
        margin-left: 5px;
        margin-top: 0px;
    }
    .section-kiber .container .one .img img {
        margin-left: 25px;
        width: 250px;
    }
    .section-celi .container h2{
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-celi .container .cart h3{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .section-celi .container .cart p{
        font-size: 14px;
    }
    .section-vid .container h2{
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-vid .container h4{
        font-size: 14px;
        margin-left: 5px;
    }
    .section-vid .container .carts .txt h3{
        font-size: 16px;
        margin-bottom: 8px;
        margin-left: 5px;
    }
    .section-vid .container .carts {
        display: flex;
        flex-direction: column;
    }
    .section-vid .container .carts .txt p{
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-vid .container .carts .img img {
        margin-left: 25px;
        width: 250px;
        margin-bottom: 15px;
    }
    .section-zashita .container h2 {
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-zashita .container h4 {
        font-size: 14px;
        margin-left: 5px;
    }
    .section-zashita .container .txt p{
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .section-zashita .container .inf{
        display: flex;
        flex-direction: column;
    }
    .section-zashita .container .inf .img img {
        margin-left: 25px;
        width: 250px;
        margin-bottom: 15px;
    }
    .section-zashita .container .but button{
        font-size: 12px;
        width: 200px;
        height: 50px;
    }
}